@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
/* @tailwind utilities; */
/* @tailwind base; */
/* @tailwind components; */

/* @tailwind base; */
/* @tailwind components; */
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";
@tailwind utilities;

.wwi-bg {
  position: relative;
  overflow: hidden;
}

.wwi-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../public/images/wwi-bg.png);
  /* background-image: url(/../images/wwi-bg.png); */
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  filter: blur(8px);
  opacity: 0.5;
  z-index: 0;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  margin-left: -20px;
  color: black;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}
.hero {
  background-image: url(../public/images/hero-bg.png);
  /* background-image: url(../images/hero-bg.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.hero-slider {
  background-image: url(../public/images/hero-bg-01.webp);
  /* background-image: url(../images/hero-bg-01.webp); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  .hero {
    height: 40vh;
  }
}
