@import "tailwindcss";
@import "tailwindcss/utilities";
@tailwind utilities;

.wwi-bg {
  position: relative;
  overflow: hidden;
}

.wwi-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../public/images/wwi-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  filter: blur(8px);
  opacity: 0.5;
  z-index: 0;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  margin-left: -20px;
  color: black;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}
.hero {
  background-image: url(../public/images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.hero-slider {
  background-image: url(../public/images/hero-bg-01.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* whatsapp css */
.whatsapp-btn {
  transform: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.whatsapp-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  animation: pulseCustom 1500ms ease-out infinite;
}
@keyframes pulseCustom {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .wwi-bg::before {
    content: none;
  }
}
